@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/woff2/FiraCode-Medium.woff2') format('woff2'),
    url("../fonts/woff/FiraCode-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/woff2/FiraCode-Bold.woff2') format('woff2'),
    url("../fonts/woff/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
